<a href="https://colab.research.google.com/github/ar3da/analise-financeira/blob/main/ANALISE_DE_DADOS_DIA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Olá mundo!!! Irei seguir carreira em analise de dados")

Olá mundo!!! Irei seguir carreira em analise de dados

In [2]:
print("Meu nome é Areda")

Meu nome é Areda

In [3]:
#Trabalhando com números e operações matemáticas

soma = 2 + 2
subtracao = 2 - 2
multiplicacao = 2 * 2
divisao = 2 / 2

print(soma)
print(subtracao)
print(multiplicacao)
print(divisao)
#

4
0
4
1.0

In [6]:
#Trabalhando com variáveis

nome = "Areda"
idade = 21
salario = 1518.00


print("Meu nome é {}".format(nome))
print("Tenho {} anos".format(idade))
print("Recebo R${}".format(salario))

Meu nome é Areda
Tenho 21 anos
Recebo R$1518.0

In [8]:
#Verificando o tipo de variavel

print(type(nome))     # string (texto)
print(type(idade))    # int (número inteiro)
print(type(salario))  # float (número decimal)

<class 'str'>
<class 'int'>
<class 'float'>

In [11]:
#EXERCICIO PRÁTICO DIA 1: CÁLCULO DE FINANÇAS

salario = 1318
mercado = 450
contas = 550

sobra = salario - mercado - contas

print("Sobrou R${}".format(sobra))

Sobrou R$318